.reviews {
    &__items {
        display: flex;
        gap: 50px;
        flex-wrap: wrap;
    }
    &__item {
        flex: 1 1 280px;
        border: 1px solid rgb(222, 222, 222);
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        box-shadow: 0px 2.77px 2.21px 0px rgba(0, 0, 0, 0.02),0px 6.65px 5.32px 0px rgba(0, 0, 0, 0.03),0px 12.52px 10.02px 0px rgba(0, 0, 0, 0.04),0px 22.34px 17.87px 0px rgba(0, 0, 0, 0.04),0px 41.78px 33.42px 0px rgba(0, 0, 0, 0.05),0px 100px 80px 0px rgba(0, 0, 0, 0.07);
    }
    &__item >* {
        margin-bottom: 15px;
    }
    &__item >*:last-child {
        margin-bottom: 0;
    }
    &__link-title {
        color: rgb(35, 166, 240);
        line-height: 187.5%;
    }
    &__link-title:hover {
        text-decoration: underline;
        line-height: 49.180328%; /* 30/61 */
    }
    &__link-avatar {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 30px;
    }
    &__avatar {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__text {
        margin-bottom: 25px;
        flex-grow: 1;
        p {
            line-height: 187.5%;
        }
        p:not(:last-child) {
            margin-bottom: 10px;
        }
    }
    &__position {
        font-weight: 500;
        color: #000;
    }
}
///////////////////////////////
 .location__map {
    width: 100%;
    height: 405px;
    box-shadow: 0 30px 60px 0 rgba(71, 74, 87, 0.25);
    // aspect-ratio: 202.360877%; /* 1200/593 */
 }